@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #000000;
}


.navbar {
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}












