<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Notifications</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/textStyle1.css">
  <link rel="stylesheet" href="/css/styleOffres.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" href="/">TalentLink</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" style="color: white;" data-bs-toggle="dropdown">
            <b><span sec:authentication="name"></span></b>
          </a>
          <ul class="dropdown-menu" style="margin-left: 1280px;">
            <li><a class="dropdown-item" th:href="@{/}" ><span><i class="fa-solid fa-house" style="color: #005eff;"></i></span><span>&nbsp;Accueil</span></a></li>
            <li>
              <a class="dropdown-item" th:href="@{/profils/myProfilT}" sec:authorize="hasAuthority('TALENT')"><span><i class="fa-regular fa-user" style="color: #005eff;"></i></span><span>&nbsp;Profil</span></a>
            </li>
            <li><a class="dropdown-item" th:href="@{/profils/myProfilE}" sec:authorize="hasAuthority('ENTREPRISE')"><span><i class="fa-regular fa-user" style="color: #005eff;"></i></span><span>&nbsp;Profil</span></a></li>
            <li><a class="dropdown-item" href="/logout"><span><i class="fa-solid fa-right-from-bracket" style="color: #005eff;"></i></span><span>&nbsp;Déconnecter</span></a></li>
          </ul>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
          <a class="nav-link" href="/login"><b>Connexion</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section th:if="${notificationList.isEmpty()}">
  <p class="h4 alert alert-info ms-3 me-3 text-center" role="alert">Aucune notification pour le moment !</p>
</section>
<section th:if="!${notificationList.isEmpty()}">
  <p class="h2 text-center text-primary mt-3">Notifications</p>
  <div sec:authorize="hasAuthority('TALENT')" th:each="noti : ${notificationList}">
    <div class="card text-center shadow btn" style="width : 50%; margin-left: 25%; margin-top : 20px;">
      <a th:href="@{/offres/offreInfo(id=${noti.offreDeMission.id})}">
        <div class="card-body">
          <p class="text-center" style="font-weight: normal;" th:text="${noti.message}"></p>
          <div class="text-muted fs-6" style="font-weight: normal; margin-left : 480px; margin-top : 0px;" th:text="${#temporals.format(noti.date, 'dd-MM-yyyy HH:mm')}"></div>
        </div>
      </a>
    </div>
  </div>
  <div sec:authorize="hasAuthority('ENTREPRISE')" th:each="noti : ${notificationList}">
    <div class="card text-center shadow btn" style="width : 50%; margin-left: 25%; margin-top : 20px;">
      <a th:href="@{/profils/talentProfil(id=${noti.talent.id})}">
        <div class="card-body">
          <p class="text-center" style="font-weight: normal;" th:text="${noti.message}"></p>
          <div class="text-muted fs-6" style="font-weight: normal; margin-left : 480px; margin-top : 0px;" th:text="${#temporals.format(noti.date, 'dd-MM-yyyy HH:mm')}"></div>
        </div>
      </a>
    </div>
  </div>
</section>
</body>
</html>
